@import url("new-plan-build.css");
@import url("recomendations.css");

.header-button {
	margin-top: 20px;
	width: 160px;
	height: 50px;
	border-radius: 26px;
	font-weight: bolder;
	font-size: 25px;
}

.home-panel {
	width: 560px;
}

#home-new-trip-button {
	width: 175px;
	height: 55px;
	border-radius: 28px;
	font-weight: bolder;
	font-size: 30px;
}

.new-plan-search-content {
	margin: 25px;
}
