@import url("new-plan-build.css");

.header-button {
	margin: 20px;
	width: 175px;
	height: 55px;
	border-radius: 28px;
	font-weight: bolder;
	font-size: 30px;
}

.profile-button {
	margin: 20px;
	width: 175px;
	height: 55px;
	border-radius: 20px;
	font-weight: bolder;
	font-size: 20px;
	/* background-color:cornsilk; */
}

.user-button {
	margin: 20px;
	width: 175px;
	height: 55px;
	border-radius: 10px;
	font-weight: bolder;
	font-size: 20px;
}

.home-panel {
	width: 560px;
}

#home-new-trip-button {
	width: 175px;
	height: 55px;
	border-radius: 28px;
	font-weight: bolder;
	font-size: 30px;
}

.new-plan-search-content {
	margin: 25px;
}
