.recommendation-card {
	width: 240px;
	height: 350px;
}

.recommendation-card-photo {
	width: 240px;
	height: 160px;
	object-fit: cover;
	object-position: center;
}

.ant-card-meta-description {
    height: 100px;
    overflow: hidden;
}




